<div class="container">
<h1 class="title is-1">New Recipe!</h1>
<hr>
</div>

<div class="columns">
  <div class="column is-half">

<%= render 'form' %>

  </div>
</div>

<%= link_to 'Back', profile_path %>
