<div class="container">
<h1 class="title is-1">Listing Users</h1>
<hr>
</div>

<div class="columns is-multiline is-mobile">
  
  <% @users.each do |user| %>
   
    <div class="column is-quarter">
      <div class="box">
        <div class="container">
          <%= image_tag user.avatar.url %>
        </div>
        <a class="subtitle is-text-centered" href="<%= user_path(user.id) %>"> <%= user.name %> </a>
      </div>
    </div>
    
 <% end %>

</div>    
        
<%= link_to 'New User', new_user_registration_path %>
