<div class="container">
<h1 class="title is-1">New Beer for <%= @recipe.title %></h1>
<hr>
</div>

<div class="columns">

  <div class="column is-half">
    <h2 class="subtitle"> Beer's info: </h2>
    <hr>

  <%= render 'form' %>

  <hr>
  </div>

  <div class="column is-half">
    
  </div>

</div>

<%= link_to 'Back', user_recipes_path(@user) %>

