<div class="container">
<h1 class="title is-1">New Beer for <%= @recipe.title %></h1>
<hr>
</div>

<div class="columns">

  <div class="column is-half">

  <%= render 'form' %>

  <hr>
  </div>

  <div class="column is-half">
    <div id="input-wrapper">
        <input type="text" name="get-places" id="get-places">
    </div>
  </br>
      <div id="map" class="container" style="height: 400px;"></div>
  </div>

</div>

<%= link_to 'Back', user_recipes_path(@user) %>

