<h1 class="title is-1"> RECIPES INDEX </h1>

<div class="columns is-multiline is-mobile">
  
  <% @recipes.each do |recipe| %>
   
    <div class="column is-quarter">
      <div class="container">
      RECIPE IMAGE
      </div>
      <a href="<%= user_recipe_path(recipe.user_id,recipe) %>"> <%= recipe.title %> </a> 
    </div>
    
 <% end %>

</div>  