/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */
@import "bulma";

.logo{
  font-family: 'Kavoon' !important;
  font-size: xx-large;
  text-shadow: 3px 3px #000000;
  color: #FFAC00;
}

.header_name{
  font-family: 'Kavoon' !important;
  font-size: -webkit-xxx-large;  
  text-shadow: 4px 4px #000000;
  color: #FFAC00;
}

strong{
  color: #f5f7fa !important;
}

p, small{
  color: #69707a !important;
}

a{
  color: #FFAC00;
}

a:hover{
  color: #69707A;
  text-decoration: none;
}

.header_hero{

  background-image: url("/assets/header_img.jpeg") !important;
  background-size: cover;
  background-position: center;

}

.section {
  background: #222324 !important ;
}


.title {
  color: #FFAC00 !important;
  text-shadow: 2px 2px #000000;

}

.subtitle.is-3{
  text-shadow: 2px 2px #000000;

}

.box{
  color: #222324 !important;
  background-color: #F2F2F2;
}

.box:hover { 
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc; 
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
} 

.hidden_loc{
  display: none;
}

.card{
  width: 100% !important;
  background-color: #F2F2F2 !important;
}


.tabs a {
    color: #FFAC00 !important;
    font-size: large;

}

.tabs.is-boxed a:hover {
    background: #222324 !important;
    border-bottom-color: #d3d6db;
}

.tabs.is-boxed a:hover {
    background: #222324 !important;
}