/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */
@import "bulma";

@import "bulma/config/variables";

strong{
  color: #f5f7fa !important;
}

p, small{
  color: #69707a !important;
}

.section {
  background: #222324 !important ;
}

.title {
  color: #FFC244 !important;
}

.box{
  color: #f5f7fa !important;
}

.box:hover { 
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc; 
  } 

.hidden_loc{
  display: none;
}