// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#is-fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}